<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout/usuario/layout}">
	<head>
		<meta charset="UTF-8">
		<title>Exemplo de Login</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/bootstrap.min.js"></script>
		<script src="jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div class="container">
			<center>
				<h1>Bem vindo(a) </h1>
				<h3>Usuário autenticado!</h3>
				<h4><a th:href="@{/logout}">Sair do sistema</a></h4>			
			</center>
		</div>
	</body>
</html>